<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js App</title>
</head>
<body>
  <div id="app">
    <h1>List of Starships</h1>
    <ul>
      <li v-for="starship in starships" :key="starship.name">
        {{ starship.name }}
        <ul>
          <li v-for="pilot in starship.pilots" :key="pilot.name">
            {{ pilot.name }}
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>

